<a href="https://colab.research.google.com/github/porepranay37-stack/FNB-DATASET/blob/main/Python_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON THEORY QUESTIONS:

1. Program to print maximum among two numbers.

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

if a > b:
    print("Maximum number is:", a)
else:
    print("Maximum number is:", b)

Enter first number: 50
Enter second number: 66
Maximum number is: 66

2. Program to print maximum among three numbers.

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a >= b and a >= c:
    print("Maximum number is:", a)
elif b >= a and b >= c:
    print("Maximum number is:", b)
else:
    print("Maximum number is:", c)

Enter first number: 15
Enter second number: 20
Enter third number: 21
Maximum number is: 21

3. Program to check whether a given number is divisible by 3 or not.

In [ ]:
number = int(input("Enter a number: "))
if number % 3 == 0:
    print("Divisible by 3")
else:
    print("Not divisible by 3")

Enter a number: 89
Not divisible by 3

4. Program to check whether a given number is divisible by 5 or not.

In [ ]:
number = int(input("Enter a number: "))
if number % 5 == 0:
    print("Divisible by 5")
else:
    print("Not divisible by 5")

Enter a number: 65
Divisible by 5

5. Program to check whether a given number is divisible by 11 or not.

In [ ]:
num = int(input("Enter a number: "))
if num % 11 == 0:
    print("Divisible by 11")
else:
    print("Not divisible by 11")

6. Program to check whether a given number is even or odd.

In [ ]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Enter a number: 0
Even number

7. Program to check whether a year is a leap year or not.

In [ ]:
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap year")
else:
    print("Not a leap year")

Enter a year: 2028
Leap year

8. Program to check whether a given input is digit or not.

In [ ]:
ch = input("Enter any character: ")

if ch.isdigit():
    print("It is a digit")
else:
    print("It is not a digit")

Enter any character: 12
It is a digit

9. Program to check whether a given input is the alphabet or not.

In [ ]:
ch = input("Enter any character: ")

if ch.isalpha():
    print("It is an alphabet")
else:
    print("It is not an alphabet")

10. Program to check whether a given number is a positive or negative number.

In [ ]:
num = int(input("Enter a number: "))

if num > 0:
    print("Positive number")
elif num < 0:
    print("Negative number")
else:
    print("Number is zero")

Enter a number: -999
Negative number

11. Program to check whether a character is a vowel or consonant.

In [ ]:
ch = input("Enter an alphabet: ").lower()

if ch in ('a', 'e', 'i', 'o', 'u'):
    print("Vowel")
else:
    print("Consonant")

Enter an alphabet: U
Vowel

12. Program to check whether a given character is uppercase or lowercase.

In [ ]:
ch = input("Enter a character: ")

if ch.isupper():
    print("Uppercase letter")
elif ch.islower():
    print("Lowercase letter")
else:
    print("Not an alphabet")

13. Program to check whether a person is valid for vote or not?

In [ ]:
age = int(input("Enter your age: "))

if age >= 18:
    print("Eligible for voting")
else:
    print("Not eligible for voting")

Enter your age: 17
Not eligible for voting

14. Write a programs to display “Hello” if a number entered by user is Multiple of 5 otherwise print "Bye".

In [ ]:
number = int(input("Enter a number: "))

if number % 5 == 0:
    print("Hello")
else:
    print("Bye")

Enter a number: 6
Bye

15. Write a programs to Display Last Digit OF Number

In [ ]:
number = int(input("Enter a number: "))
last_digit = number % 10
print("Last digit:", last_digit)

Enter a number: 9
Last digit: 9

16. Write a programs to check weather the last digit of number(Enter By user ) is divisible by 3 or not

In [ ]:
num = int(input("Enter a number: "))
last_digit = num % 10

if last_digit % 3 == 0:
    print("Last digit is divisible by 3")
else:
    print("Last digit is not divisible by 3")

17. Write a programs to accept a number from 1 to 7 and display the name

In [ ]:
day = int(input("Enter a number (1-7): "))

if day == 1:
    print("Sunday")
elif day == 2:
    print("Monday")
elif day == 3:
    print("Tuesday")
elif day == 4:
    print("Wednesday")
elif day == 5:
    print("Thursday")
elif day == 6:
    print("Friday")
elif day == 7:
    print("Saturday")
else:
    print("Invalid input")

KeyboardInterrupt: Interrupted by user

18. Write a program to check whether a person is a senior citizen or not.

In [ ]:
age = int(input("Enter your age: "))

if age >= 60:
    print("Senior citizen")
else:
    print("Not a senior citizen")

19. Accept the age of 4 people and display the youngest one. Python code

In [ ]:
a = int(input("Enter age of person 1: "))
b = int(input("Enter age of person 2: "))
c = int(input("Enter age of person 3: "))
d = int(input("Enter age of person 4: "))

youngest = min(a, b, c, d)
print("The youngest age is:", youngest)

Enter age of person 1: 33
Enter age of person 2: 44
Enter age of person 3: 55
Enter age of person 4: 66
The youngest age is: 33

20.A company decided to give to employee according to following criteria.
Time period of services        Bonus
More than 10 Years              10%
>=6 and <=10                    8%
less than 6 years                5%
Ask user for their Salary and years of services and print the net bouns amount

In [ ]:
salary= float(input("Enter your salary: "))
years=int(input("Enter your years of services: "))
if years>10:
  bonus=0.10*salary
elif years >=6 and years <=10:
  bonus=0.08*salary
else:
  bonus=0.05*salary
print("Net bonus amount:",bonus)

Enter your salary: 10000
Enter your years of services: 1
Net bonus amount: 500.0

21. Write a program to accept the cost price of bike and display the road tax paid according to the following criteria:
cost price(in rs)        tax
>=1000000                 15%
>50000 and <=1000000       10%
<=50000                   5%

In [ ]:
cost_price = float(input("Enter the cost price of the bike (in Rs): "))

if cost_price >= 1000000:
    tax_rate = 0.15
elif cost_price > 50000:
    tax_rate = 0.10
else:
    tax_rate = 0.05

road_tax = cost_price * tax_rate
print(f"Road tax to be paid: Rs {road_tax:.2f}")

Enter the cost price of the bike (in Rs): 1000000
Road tax to be paid: Rs 150000.00

21. Write a program to two numbers and mathmatical operators and perform operation accordingly.
like:
Enter first number:7
Enter second number:9
Enter operator:+
Your answer:16

In [ ]:
number1 = float(input("Enter first number: "))
number2 = float(input("Enter second number: "))
operator = input("Enter operator (+, -, *, /): ")
if operator == '+':
    result = number1 + number2
elif operator == '-':
    result = number1 - number2
elif operator == '*':
    result = number1 * number2
elif operator == '/':
    if number2 != 0:
        result = number1 / number2
    else:
        print("Error: Division by zero is not allowed")
        exit()
else:
    print("Error: Invalid operator")
    exit()

print(f"Your answer: {result}")

Enter first number: 50
Enter second number: 60
Enter operator (+, -, *, /): +
Your answer: 110.0

22. Accept the kilometer covered and calculate the bill according to the following criteria:
first 10km     rs.11/km
next 90km      rs.10/km
After that      rs.9/km

In [ ]:
def calculate_bill(km):
    if km < 0:
        return "Distance cannot be negative"

    bill = 0

    if km <= 10:
        bill = km * 11
    elif km <= 100:
        bill = 10 * 11 + (km - 10) * 10
    else:
        bill = 10 * 11 + 90 * 10 + (km - 100) * 9

    return f"Total bill for {km} km is Rs. {bill:.2f}"
distance = float(input("Enter the distance covered in kilometers: "))
print(calculate_bill(distance))

Enter the distance covered in kilometers: 100
Total bill for 100.0 km is Rs. 1010.00

23. Write a program to input electricity unit charges and calculate total electricity bill according to
the given condition:
For first 50 units Rs. 0.50/unit
For next 100 units Rs. 0.75/unit
For next 100 units Rs. 1.20/unit
For unit above 250 Rs. 1.50/unit
An additional surcharge of 20% is added to the bill

In [ ]:
def calculate_electricity_bill(units):

    bill = 0
    if units <= 50:
        bill = units * 0.50
    elif units <= 150:
        bill = (50 * 0.50) + ((units - 50) * 0.75)
    elif units <= 250:
        bill = (50 * 0.50) + (100 * 0.75) + ((units - 150) * 1.20)
    else:
        bill = (50 * 0.50) + (100 * 0.75) + (100 * 1.20) + ((units - 250) * 1.50)
    surcharge = bill * 0.20
    total_bill = bill + surcharge

    return total_bill
try:
    units = float(input("Enter electricity units consumed: "))

    if units < 0:
        print("Units cannot be negative!")
    else:
        total = calculate_electricity_bill(units)
        print(f"Total Electricity Bill: Rs. {total:.2f}")

except ValueError:
    print("Please enter a valid number!")

Enter electricity units consumed: 500
Total Electricity Bill: Rs. 714.00

24. Write a program to input marks of five subjects Physics, Chemistry, Biology, Mathematics and
Computer. Calculate percentage and grade according to following:
Percentage >= 90% : Grade A
Percentage >= 80% : Grade B
Percentage >= 70% : Grade C
Percentage >= 60% : Grade D
Percentage >= 40% : Grade E
Percentage < 40% : Grade F

In [ ]:
physics = float(input("Enter Physics marks: "))
chemistry = float(input("Enter Chemistry marks: "))
biology = float(input("Enter Biology marks: "))
mathematics = float(input("Enter Mathematics marks: "))
computer = float(input("Enter Computer marks: "))

total_marks = physics + chemistry + biology + mathematics + computer
percentage = (total_marks / 500) * 100

if percentage >= 90:
    grade = 'A'
elif percentage >= 80:
    grade = 'B'
elif percentage >= 70:
    grade = 'C'
elif percentage >= 60:
    grade = 'D'
elif percentage >= 40:
    grade = 'E'
else:
    grade = 'F'

print(f"Total Marks: {total_marks}")
print(f"Percentage: {percentage:.2f}%")
print(f"Grade: {grade}")

Enter Physics marks: 55
Enter Chemistry marks: 60
Enter Biology marks: 78
Enter Mathematics marks: 98
Enter Computer marks: 99
Total Marks: 390.0
Percentage: 78.00%
Grade: C

 25. Print all even numbers between 1 to 100 using a for loop

In [ ]:
for i in range(2, 101, 2):
    print(i, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

26. Print all odd numbers between 1 to 100 using a for loop

In [ ]:
for i in range(1, 101, 2):
    print(i, end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

27. Print sum of all even numbers between 1 to 100 using a for loop

In [ ]:
sum_even = 0
for i in range(2, 101, 2):
    sum_even += i
print(f"Sum of even numbers: {sum_even}")

Sum of even numbers: 2550

28. Print sum of all odd numbers between 1 to 100 using a for loop

In [ ]:
sum_odd = 0
for i in range(1, 101, 2):
    sum_odd += i
print(f"Sum of odd numbers: {sum_odd}")

29. Count the digits of a given number using a for loop

In [ ]:
num = int(input("Enter a number: "))
count = 0
num = abs(num)
if num == 0:
    count = 1
else:
    while num > 0:
        num //= 10
        count += 1
print(f"Number of digits: {count}")

Enter a number: 123
Number of digits: 3

30.Print sum of digits of a given number using a for loop

In [ ]:
num = input("Enter a number: ")
sum_digits = 0
for digit in str(abs(int(num))):
    sum_digits += int(digit)
print(f"Sum of digits: {sum_digits}")

31. Check whether a given number is Prime or not using a for loop

In [ ]:
num = int(input("Enter a number: "))
if num < 2:
    print(f"{num} is not prime")
else:
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    print(f"{num} is {'prime' if is_prime else 'not prime'}")

Enter a number: 146
146 is not prime

32. Print all Prime numbers between 1 to 100 using a for loop

In [ ]:
for num in range(2, 101):
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num, end=" ")

33. Find the sum of all prime numbers between 1 to 100 using a for loop

In [ ]:
sum_primes = 0
for num in range(2, 101):
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        sum_primes += num
print(f"Sum of prime numbers: {sum_primes}")

34. Check if a given number is Armstrong or not using a for loop

In [ ]:
num = int(input("Enter a number: "))
num_str = str(abs(num))
digits = len(num_str)
sum_powers = 0
for digit in num_str:
    sum_powers += int(digit) ** digits
print(f"{num} is {'an Armstrong number' if sum_powers == abs(num) else 'not an Armstrong number'}")

35. Print all Armstrong numbers between 1 to n using a for loop

In [ ]:
n = int(input("Enter a number n: "))
for num in range(1, n + 1):
    num_str = str(num)
    digits = len(num_str)
    sum_powers = 0
    for digit in num_str:
        sum_powers += int(digit) ** digits
    if sum_powers == num:
        print(num, end=" ")

Enter a number n: 6
1 2 3 4 5 6

36. Check if a number is neon or not using a for loop

In [ ]:
num = int(input("Enter a number: "))
square = num * num
sum_digits = 0
for digit in str(square):
    sum_digits += int(digit)
print(f"{num} is {'a neon number' if sum_digits == num else 'not a neon number'}")

Enter a number: 55
55 is not a neon number

37. Check if a number is palindrome or not using a for loop

In [ ]:
num = input("Enter a number: ")
is_palindrome = True
num_str = str(abs(int(num)))
for i in range(len(num_str) // 2):
    if num_str[i] != num_str[-(i + 1)]:
        is_palindrome = False
        break
print(f"{num} is {'a palindrome' if is_palindrome else 'not a palindrome'}")

38. Print Fibonacci series of a given number using a for loop

In [ ]:
n = int(input("Enter the number of terms: "))
a, b = 0, 1
if n >= 1:
    print(a, end=" ")
for _ in range(2, n + 1):
    print(b, end=" ")
    a, b = b, a + b
print()

39. Print all alphabets from a to z using a for loop.

In [ ]:
for i in range(97, 123):
    print(chr(i), end=" ")

40. Print all uppercase alphabets using a for loop

In [ ]:
for i in range(65, 91):
    print(chr(i), end=" ")

41. Print first 10 even numbers using a for loop

In [ ]:
count = 0
for i in range(2, 21, 2):
    print(i, end=" ")
    count += 1
    if count == 10:
        break

42. Print all lowercase alphabets using a for loop

In [ ]:
for i in range(97, 123):
    print(chr(i), end=" ")

43. Print first 10 even numbers in reverse order using a for loop

In [ ]:
even_nums = []
for i in range(2, 21, 2):
    even_nums.append(i)
for num in even_nums[::-1]:
    print(num, end=" ")

44. Print numbers from 1 to 20 except multiples of 2 and 3

In [ ]:
for i in range(1, 21):
    if i % 2 != 0 and i % 3 != 0:
        print(i, end=" ")

1 5 7 11 13 17 19

# PYTHON PATTERN QUESTIONS :

45.

In [ ]:
for i in range(1, 6):
  for j in range(1,6):
    print(j, end=" ")
  print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

46.

In [ ]:
for i in range(1, 6):
  for j in range(1,6):
    print(i, end=" ")
  print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

47.

In [ ]:
for i in range(5,0,-1):
  for j in range (5,0,-1):
    print(j,end=" ")
  print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

48.

In [ ]:
for i in range(5,0,-1):
  for j in range (5,0,-1):
    print(i,end=" ")
  print()

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

49.

In [ ]:
i = 1
while i < 5:
    j = 1
    while j <= i:
        print("*", end=" ")
        j += 1
    print()
    i += 1

*
* *
* * *
* * * *

50.

In [ ]:
for i in range(1, 6):
  for j in range(1,6):
    print("*", end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

51.

In [ ]:
a = 5
b = 1
for i in range(a):
    for j in range(5):
        print(f"{b + j:4}", end=" ")
    print()
    b += 5

   1    2    3    4    5
   6    7    8    9   10
  11   12   13   14   15
  16   17   18   19   20
  21   22   23   24   25

This code generates a 5x5 grid of numbers.

a = 5 and b = 1 initialize variables for the grid size and the starting number.
The outer loop for i in range(a): controls the rows, running 5 times.
The inner loop for j in range(5): controls the columns, running 5 times for each row.
print(f"{b + j:4}", end=" ") prints the current number (b + j), formatted to take up 4 spaces, followed by a space to separate the numbers in a row.
print() after the inner loop moves to the next line after each row is complete.
b += 5 increments the starting number b by 5 after each row, so the next row starts with a number 5 greater than the previous row's starting number.

52.

In [ ]:
for i in range (1,26):
 print(chr(64+i),end=" ")
 if i%5==0:
   print()

A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y

Step-by-Step Explanation:

for i in range(1, 26):
This means:
➜ Start a loop with numbers from 1 to 25

chr(64 + i)
➜ chr() turns a number into a letter
➜ In ASCII, A is number 65
➜ So when i = 1, chr(64 + 1) → chr(65) → 'A'
➜ When i = 2, it's 'B', and so on...

print(..., end=" ")
➜ This prints the letter on the same line with a space after it

if i % 5 == 0:
➜ Every time 5 letters are printed, this adds a line break
➜ So you get 5 letters per row

53.

In [ ]:
for i in range  (ord('A'),ord('E')+1):
  for j in range (ord('A'),ord('E')+1):
    print(chr(j),end=" ")
  print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

54.

In [ ]:
for i in range  (ord('E'),ord('A')-1,-1):
  for j in range (ord('E'),ord('A')-1,-1):
    print(chr(j),end=" ")
  print()

E D C B A
E D C B A
E D C B A
E D C B A
E D C B A

The outer loop iterates from the ASCII value of 'E' down to the ASCII value of 'A' (inclusive), controlling the rows. ord('E') gets the ASCII value of 'E', ord('A')-1 is the stop value (exclusive), and -1 is the step to count down.
The inner loop does the same, iterating from the ASCII value of 'E' down to the ASCII value of 'A' for each row, controlling the columns.
chr(j) converts the current ASCII value j back to its corresponding character.
end=" " keeps the output of the inner loop on the same line, separated by spaces.
print() after the inner loop creates a new line for the next row.

55.

In [ ]:
for i in range(ord('A'),ord('E')+1):
  for j in range(ord('A'),ord('E')+1):
    print(chr(i),end=" ")
  print()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

56.

In [ ]:
for i in range(ord('E'),ord('A')-1,-1):
  for j in range(ord('E'),ord('A')-1,-1):
    print(chr(i),end=" ")
  print()

E E E E E
D D D D D
C C C C C
B B B B B
A A A A A

57.

In [ ]:
i = 1
while i <= 5:
    j = 1
    while j <= i:
        print(j, end=" ")
        j += 1
    print()
    i += 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

58.

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(i,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

59.

In [ ]:
for i in range(5,0,-1):
  for j in range(1,6-i+1):
       print((i),end=" ")
  print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

Step-by-step explanation:

for i in range(5,0,-1):

This loop starts from 5 and goes down to 1 (because of -1).

So i takes values: 5, 4, 3, 2, 1

Inner loop: for j in range(1,6-i+1):

Controls how many times to print each number per line.

When i = 5 → range(1,6-5+1) → range(1,2) → runs 1 time

When i = 4 → range(1,3) → runs 2 times

When i = 3 → range(1,4) → runs 3 times

When i = 2 → range(1,5) → runs 4 times

When i = 1 → range(1,6) → runs 5 times

print(i, end=" ")

Prints the number i on the same line, followed by a space.

Because of end=" ", it doesn’t go to the next line immediately.

print() (outside inner loop)

After finishing each row, moves to the next line.

60.

In [ ]:
for i in range (1,6):
  for j in range(1,1+i):
   print(chr(64+j),end=" ")
  print()

A
A B
A B C
A B C D
A B C D E

61.

In [ ]:
for i in range (1,5):
  for j in range(5,5-(1+i),-1):
   print(chr(64+j),end=" ")
  print()

E D
E D C
E D C B
E D C B A

or j in range(5, 5-(1+i), -1):
Let’s see how this behaves for each i value 👇
| i | Expression `5-(1+i)` | So `range(5, that, -1)` becomes | j values printed |
| - | -------------------- | ------------------------------- | ---------------- |
| 1 | 5-(1+1)=3            | range(5,3,-1)                   | 5, 4             |
| 2 | 5-(1+2)=2            | range(5,2,-1)                   | 5, 4, 3          |
| 3 | 5-(1+3)=1            | range(5,1,-1)                   | 5, 4, 3, 2       |
| 4 | 5-(1+4)=0            | range(5,0,-1)                   | 5, 4, 3, 2, 1    |

62.

In [ ]:
for i in range (1,6):
  for j in range(1,7-i):
    print(j, end=" ")
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

63.

In [ ]:
for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

64.

In [ ]:
for i in range (1,6):
  for j in range(1,7-i):
   print(chr(64+j),end=" ")
  print()

A B C D E
A B C D
A B C
A B
A

65.

In [ ]:
for i in range(5, 0, -1):
    for j in range(i + 1, 0, -1):
        print(chr(64 + i), end=" ")
    print()

E E E E E E
D D D D D
C C C C
B B B
A A

66.

In [ ]:
n = 5
for i in range(1, n + 1):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

67

In [ ]:
n = 5
for i in range(n):
    for j in range(65+i, 70):
        print(chr(j), end=" ")
    print()

A B C D E
B C D E
C D E
D E
E

68

In [ ]:
n = 5
for i in range(n, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

69.

In [ ]:
n = 5
for i in range(1, n+1):
    for j in range(i, n+1):
        print(j, end=" ")
    print()

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

70.

In [ ]:
a = 5
b = 65
for i in range(a):
    for j in range(a):
        print(chr(b), end=" ")
        b += 1
    print()

A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y

71

In [ ]:
n = 5
for i in range(65, 70):
    for j in range(97 + (i - 65)*n, 97 + (i - 64)*n):
        print(chr(j), end=" ")
    print()

a b c d e
f g h i j
k l m n o
p q r s t
u v w x y

72.

In [ ]:
n = 5
for i in range(5):
    if i % 2 == 0:
        start = 65 + i*5
    else:
        start = 97 + i*5
    for j in range(start, start+5):
        print(chr(j), end="")
    print()

ABCDE
fghij
KLMNO
pqrst
UVWXY

73.

In [ ]:
n = 5
for i in range(n):
    for j in range(n):
        print((i+j) % 2, end="")
    print()

01010
10101
01010
10101
01010

74.

In [ ]:
n = 5
for i in range(1, n+1):
    print(" "*(n-i) + "* " * i)

75.

In [ ]:
n = 5
for i in range(1, n + 1):
    print("  " * (n - i), end=" ")
    for j in range(1, i + 1):
        print(j, end="  ")
    print()

         1
       1  2
     1  2  3
   1  2  3  4
 1  2  3  4  5

76.

In [ ]:
n = 5
for i in range(n, 0, -1):
    print("  " * (n - i), end="")
    for j in range(1, i + 1):
        print(j, end="   " if j < i else "")
    print()

1   2   3   4   5
  1   2   3   4
    1   2   3
      1   2
        1

77.

In [ ]:
n = 5
for i in range(1, n + 1):
    print("  " * (n - i), end="")
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

78.

In [ ]:
for i in range(1, 6):
    for j in range(1, i + 1):
        print(j, end='')
    print('')

1
12
123
1234
12345



79.

In [ ]:
for i in range(1, 6):
    print('x' * i)

x
xx
xxx
xxxx
xxxxx

80.

In [ ]:
for i in range(1, 6):
    for j in range(i, 6):
        print(j, end=" ")
    print()

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

81.

In [ ]:
n = 6

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end='')
    for j in range(i - 1, 0, -1):
        print(j, end='')

    print()

1
121
12321
1234321
123454321
12345654321

82.

In [ ]:
n = 5
for i in range(1, n + 1):
    print(" " * (n - i) + "x" * (2 * i - 1))

    x
   xxx
  xxxxx
 xxxxxxx
xxxxxxxxx

83.

In [ ]:
n = 5
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print()
for i in range(n, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

84.

In [ ]:
n = 5
for i in range(n):
    for _ in range(n - 1 - i):
        print(" ", end=" ")
    for j in range(i, -1, -1):
        print(chr(65 + j), end=" ")
    for j in range(1, i + 1):
        print(chr(65 + j), end=" ")
    print()

        A
      B A B
    C B A B C
  D C B A B C D
E D C B A B C D E

85.